body {
  background-color: black;
}
h2 {
  text-align: center;
  color: white;
}
.leaf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.leaf {
  width: 100px;
  height: 100px;
  margin: 30px;
  background-color: green;
  border-radius: 0 250px;
  box-shadow: 3px 2px 5px white;
  transition: all 2s linear;
}
.leaf:hover {
  transform: rotateZ(360deg);
}

@media (min-width: 300px) and (max-width: 600px) {
  .leaf-container {
    flex-direction: column;
    margin-top: 0px;
  }
}
